.gamearea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin: 10px;
}


.isSnakeHead {
    background-color: yellow;
}